<footer>
  <div class="footer-basic" style="position: -webkit-sticky;">
      <footer>
          <div class="social">
            <a href="#"><i class="icon ion-social-instagram"></i></a>
            <a href="#"><i class="icon ion-social-snapchat"></i></a>
            <a href="#"><i class="icon ion-social-twitter"></i></a>
            <a href="#"><i class="icon ion-social-facebook"></i></a>
          </div>
          <ul class="list-inline">
              <li class="list-inline-item"><a href="/home">Home</a></li>
              <li class="list-inline-item"><a href="/">Daily Notes</a></li>
              <li class="list-inline-item"><a href="/mycontacts">My Contacts</a></li>
              <li class="list-inline-item"><a href="/mynotes/makenotes">Add Notes</a></li>
              <li class="list-inline-item"><a href="/addcontact">Create Contacts</a></li>
              <li class="list-inline-item"><a href="/about">About</a></li>
          </ul>
          
      </footer>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</footer>