
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">LogBook</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">Daily Notes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/mycontacts">My Contacts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/mynotes/makenotes">Add Notes</a>
            </li>
     
            <li class="nav-item">
              <a class="nav-link " href="/addcontact">Create Contacts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="/about">About</a>
            </li>
          </ul>
          <!--Light Mode and Dark Mode-->
          <div class="form-check form-switch">
            <form action="">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">Light Mode/Dark Mode</label>
          </form>
          </div>
        </div>
      </div>
    </nav>

 

