<html lang="en">
<%- include("./components/header.ejs") %>

<body style="background-color: greenyellow;">
  <%- include("./components/navbar.ejs") %>
<div class="con" style="text-align: center;margin-top: 100">
  <h3 style="text-align: center;margin-top: 100;">Oops! Page not found</h3>
  <a href="/" style="text-align: center;"><button type="submit" class="btn btn-dark" style="text-align: center;">Go Back</button></a>
</div>
  <%- include("./components/footer.ejs") %>
</body>
</html>